

@font-face {font-family: 'Felice-Light';src: url('../fonts/33C235_0_0.eot');src: url('../fonts/33C235_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/33C235_0_0.woff2') format('woff2'),url('../fonts/33C235_0_0.woff') format('woff'),url('../fonts/33C235_0_0.ttf') format('truetype');}


@font-face {font-family: 'URWDINCond-Demi';src: url('../fonts/33C235_1_0.eot');src: url('../fonts/33C235_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/33C235_1_0.woff2') format('woff2'),url('../fonts/33C235_1_0.woff') format('woff'),url('../fonts/33C235_1_0.ttf') format('truetype');}


@font-face {font-family: 'URWDINSemiCond-Demi';src: url('../fonts/33C235_2_0.eot');src: url('../fonts/33C235_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/33C235_2_0.woff2') format('woff2'),url('../fonts/33C235_2_0.woff') format('woff'),url('../fonts/33C235_2_0.ttf') format('truetype');}
 