@media all and (min-width: 2100px) {
    .container {
        max-width: 1550px;
    }

    .main-header .navbar {
        max-width:1920px;
        margin: 0 auto;
    }

    .post-info {
        font-size: 13px;
    }

    .article .content-section .container {
        padding-right: 17.5%;
    }

    .related-posts .block-heading {
        font-size: 36px;
    }
}

@media all and (max-width: 1600px) {
    html {
        font-size: 14px;
    }

    .container {
        max-width: 1200px;
    }

    .post-lg .heading {
        font-size: 3.25rem;
    }

    .post-lg .excerpt {
        font-size: 1.15rem;
    }

    .post-lg .excerpt p {
        margin: 0 0 2.2rem;
    }

    .ads-block .heading {
        font-size: 4.1rem;
    }

    .post .heading {
        font-size: 1.65rem;
    }

    .ads-block .text-wrap p {
        margin-bottom: 3rem;
    }

    .post-lg .heading {
        font-size: 2.5rem;
    }

    .shared-list-item {
        margin-right: 10px;
    }
}

@media all and (max-width: 1440px) {
    .main-header {
        padding: 35px 5.75rem 35px 4.875rem;
    }

    .header-nav-item {
        margin: 0 20px;
    }

    .logo {
        width: 220px;
    }

    .container {
        max-width: 1100px;
    }

    .detailed-article .main-col {
        padding-left: 4%;
    }

    .article .article-heading {
        font-size: 3.3rem;
    }

    .article .side-content.quote {
        font-size: 1.6rem;
        padding-top: 10px;
    }
}

@media screen and (max-width: 1366px) {
    .shared-link {
        font-size: 12px;
    }

    .shared-link .icon {
        font-size: 1.25rem;
        margin-right: 5px;
    }

    .flower-page .filter-bar {
        padding: 4.688rem 5.5rem 1.563rem 3.875rem;
    }

    .list-view .cell-cname {
        width: 18.5%;
    }

    .list-view .cell-bname {
        width: 24.5%;
    }

    .flower-page .filter-bar {
        padding: 4.688rem 5.5rem 1.563rem 4.5rem;
    }

    .list-view .list-row {
        font-size: 1.35rem;
        padding: 1rem 4.5rem 1rem 4.875rem;
    }

    .detailed-article .header-images.no-image {
        font-size: 5rem;
        padding: 5rem 3rem;
    }

    .article .content-section .container {
        padding-right: 1.5%;
        padding-left: 1.5%;
    }

    .article .main-col {
        width: 72.75%;
    }

    .article .side-content {
        width: 27.25%;
    }
}

@media screen and (max-width: 1280px) {
    .header-nav-link {
        font-size: 13px;
    }

    .header-nav-item {
        margin: 0 15px;
    }

    .header-nav.left {
        padding-left: 4%;
    }
}

@media screen and (max-width: 1160px) {
    .photo-strip {
        height: 425px;
    }

    .photo-strip .strip-text-wrap {
        font-size: 14px;
    }

    .header-nav {
        display: none !important;
    }

    .container {
        max-width: none;
        padding: 0 60px;
    }

    .post-thumb .shared-box {
        opacity: 1;
    }

    .post-info,
    .label {
        font-size: 10px;
    }

    .post-lg.horizontal .post-description {
        padding-right: 0;
    }

    .post-lg .excerpt {
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .post-lg .excerpt p {
        margin-bottom: 25px;
    }

    .content-box {
        padding: 5.4rem 0;
    }

    .shared-list-item {
        margin-left: 8px;
    }

    .default-posts-box {
        margin: 0 -3.25%;
    }

    .post {
        padding: 0 3.25%;
    }

    .post.post-sm .heading {
        font-size: 18px;
    }

    .post.post-sm {
        font-size: 12px;
    }

    .post-lg.extra.pull-left {
        padding-right: 8%;
    }

    .post-lg.extra.pull-right {
        padding-left: 8%;
    }

    .post .heading {
        font-size: 26px;
        margin-bottom: 15px;
    }

    .post-lg.extra {
        width: 49%;
    }

    .post-lg .post-thumb {
        margin: 0 0 25px;
    }

    .post-lg .heading {
        font-size: 24px;
    }

    .post-info {
        margin-bottom: 20px;
    }

    .ads-block {
        padding: 80px 0 85px;
        margin: 43px 0;
        font-size: 14px;
        min-height: 430px;
    }

    .ads-block .heading {
        font-size: 48px;
    }

    .ads-block .text-wrap p {
        margin: 0 0 45px;
    }

    .btn-rails {
        font-size: 13px;
    }

    .post-lg {
        padding: 0 40px;
    }

    .lg-posts-box {
        margin: 0 -40px;
    }

    .lg-posts-box .heading {
        font-size: 34px;
    }

    .default-posts-box {
        font-size: 14px;
    }

    .shared-list {
        padding-left: 15px;
    }

    .shared-link {
        font-size: 13px;
    }

    .grid-view .post-item {
        width: 25%;
    }

    .grid-view .grid-description {
        -webkit-transform: scale(1);
        transform: scale(1);

        opacity: 1;
        top: auto;
        bottom: 5px;
    }

    .grid-view .post-item {
        position: relative;
    }

    .grid-view .grid-description .text-wrap {
        position: relative;
        top: auto;
        left: auto;
        -webkit-transform: translate(0);
        transform: translate(0);
        padding: 1rem;
    }

    .grid-view .grid-description .text-wrap p {
        display: none;
    }

    .varieties-block .grid-view .post-item {
        width: 33.3%;
    }

    .article .article-heading {
        font-size: 36px;
    }

    .article .video-block,
    .article .photo-strip {
        margin: 0 0 60px;
    }

    .article .video-block {
        margin: 0 0 25px;
    }

    .article .side-content.quote {
        font-size: 24px;
    }

    .article .main-col p {
        margin-bottom: 25px;
    }

    .main-col .get-updates .d-cell {
        display: block;
        padding: 0;
    }

    .main-col .get-updates p:last-child {
        margin: 0 0 15px;
    }

    .related-posts .block-heading {
        margin-bottom: 0;
    }

    .tos-desktop .tos-wrapper.tos-fixed.tos-fit.tos-has-close .tos-slide,
    .tos-desktop .tos-wrapper.tos-fixed.tos-fit.tos-has-next .tos-slide,
    .tos-desktop .tos-wrapper.tos-fixed.tos-fit.tos-has-prev .tos-slide,
    .tos-wrapper.tos-fixed.tos-fit.tos-has-close .tos-slide,
    .tos-wrapper.tos-fixed.tos-fit.tos-has-next .tos-slide,
    .tos-wrapper.tos-fixed.tos-fit.tos-has-prev .tos-slide {
        padding: 3.625rem 6.8rem 2.5rem 5.8rem;
        height: auto;
    }

    .tos-close {
        right: 30px;
    }
}

@media screen and (max-width: 980px) {
    .container {
        padding: 0 30px;
    }

    .content-box {
        padding: 4.4rem 0;
    }

    .flower-page .filter-bar {
        padding: 4.688rem 30px 1.563rem 30px;
    }

    .detailed-article .article-header {
        margin-bottom: 3.9rem;
    }

    .detailed-article .header-images {
        margin-bottom: 4.5em;
    }

    .article .side-content.quote {
        font-size: 20px;
    }

    .inspiration-filter {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
    .post-lg.horizontal .post-description {
        padding: 0 0 0 5.1%;
    }

    .extra.pull-right + .sm-posts-wrap .post-sm:nth-child(even) {
        padding-left: 5.5%;
    }

    .extra.pull-right + .sm-posts-wrap .post-sm:nth-child(odd) {
        padding-right: 5.5%;
    }

    .extra.pull-left + .sm-posts-wrap .post-sm:nth-child(even) {
        padding-left: 5.5%;
    }

    .extra.pull-left + .sm-posts-wrap .post-sm:nth-child(odd) {
        padding-right: 5.5%;
        padding-left: 0;
    }

    .post-lg.extra.pull-right {
        padding-left: 6%;
    }

    .post-lg.extra.pull-left {
        padding-right: 6%;
    }

    .post.post-sm .heading {
        font-size: 16px;
    }

    .post .excerpt {
        margin-bottom: 30px;
    }

    .detailed-article .header-images.no-image {
        font-size: 3.2rem;
    }

    .lg-posts-box .heading {
        font-size: 30px;
    }

    .default-posts-box .heading {
        font-size: 20px;
    }

    .ads-block .heading {
        font-size: 32px;
    }

    .shared-list {
        padding-left: 0;
    }

    .grid-view .post-item {
        width: 33.33%;
    }
}

@media screen and (max-width: 767px) {
    .mob-only {
        display: block !important;
    }

    .btn-rails.mob-only {
        display: inline-block !important;
    }

    .wrap {
        padding-top: 65px;
    }

    .main-header {
        padding: 20px 30px;
        height: 65px;
    }

    .logo {
        width: 160px;
        height: 13px;
    }

    .burger-btn {
        width: 23px;
        height: 18px;
    }

    .main-header .search-bar {
        height: 65px;
        padding: 5px 30px;
    }

    .search-wrap .input-style + .border:before,
    .search-wrap .input-style + .border:after {
        height: 2px;
    }

    .search-bar .close-btn {
        top: 41%;
    }

    .search-wrap .search-submit,
    .search-wrap .input-style {
        height: 45px;
    }

    .search-wrap .search-submit .text {
        display: none;
    }

    .search-wrap {
        max-width: 420px;
        padding-right: 40px;
    }

    .btn-rails {
        font-size: 12px;
        letter-spacing: 3px;
    }

    .photo-strip {
        padding-top: 100%;
        width: 100%;
        height: auto;
        position: relative;
    }

    .photo-strip .swiper-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
    }

    .photo-strip .strip-text-wrap {
        display: none;
    }

    .photo-strip img {
        position: absolute;
        top: 25%;
        left: 25%;

        display: block;
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: auto;

        -webkit-transform: translate(-25%, -25%);
        transform: translate(-25%, -25%);
    }

    .next-btn {
        right: 20px;
    }

    .prev-btn {
        left: 20px;
    }

    .container {
        max-width: 480px;
        margin: 0 auto;
    }

    .content-box {
        padding-bottom: 0;
        margin: 0;
    }

    .lg-posts-box {
        margin: 0;
        padding-bottom: 0;
    }

    .content-box .post {
        margin-bottom: 60px;
    }

    .content-box .post,
    .post-lg.extra.pull-right,
    .post-lg.extra.pull-left {
        float: none;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .content-box .post .post-thumb,
    .content-box .sm-posts-wrap {
        width: 100%;
        float: none;
    }

    .content-box .post .post-thumb {
        margin: 0 0 15px;
    }

    .post-info {
        margin: 0 0 15px;
    }

    .post .post-description .heading {
        font-size: 25px;
    }

    .content-box .post .post-description {
        font-size: 15px;
        padding: 0 24px;
    }

    .content-box .post .excerpt {
        margin: 0 0 30px;
    }

    .extra.pull-right + .sm-posts-wrap .post-sm:nth-child(even),
    .extra.pull-left + .sm-posts-wrap .post-sm:nth-child(even) {
        padding-left: 0;
    }

    .extra.pull-right + .sm-posts-wrap .post-sm:nth-child(odd),
    .extra.pull-left + .sm-posts-wrap .post-sm:nth-child(odd) {
        padding-right: 0;
    }

    .ads-block {
        padding: 45px 0 40px;
        font-size: 14px;
        min-height: 280px;
    }

    .ads-block .text-wrap {
        width: 63%;
    }

    .ads-block .heading {
        font-size: 28px;
    }

    .ads-block .text-wrap p {
        margin: 0 0 15px;
    }

    .ads-block .text-wrap p:last-of-type {
        margin: 0 0 35px;
    }

    .ads-block .btn-rails {
        font-size: 11px;
        letter-spacing: 2px;
    }

    .get-updates .box {
        padding: 0 30px;
    }

    .get-updates .box {
        max-width: 480px;
    }

    .get-updates .d-cell {
        display: block;
        text-align: center;
        padding: 0;
    }

    .get-updates .description {
        margin: 0 0 20px;
    }

    .inspiration-filter {
        padding-top: 60px;
    }

    .inspiration-page .content-box {
        padding-top: 3.5rem;
    }

    .grid-view .post-item {
        width: 50%;
        padding: 6px;
    }

    .grid-description .title {
        font-size: 12px;
    }

    .varieties-section {
        margin-bottom: 65px;
    }

    .varieties-block .grid-view .post-item {
        width: 50%;
    }

    .detailed-article .header-images.no-image {
        font-size: 38px;
        letter-spacing: 6px;
    }

    .detailed-article .main-heading {
        font-size: 35px;
        letter-spacing: 5px;
    }

    .detailed-article .sub-heading {
        font-size: 24px;
        letter-spacing: 2px;
        margin: 0 0 5px;
    }

    .detailed-article .container {
        max-width: 100%;
    }

    .detailed-article .side-col {
        padding-right: 0;
    }

    .detailed-article .main-col {
        padding-right: 7%;
    }

    .add-info-section {
        font-size: 14px;
    }

    .detailed-article .header-images {
        margin-bottom: 2.5em;
    }

    .detailed-article .main-col .section-title {
        margin-bottom: 5px;
    }

    .article .content-section .container {
        max-width: 100%;
        padding: 0 45px;
    }

    .article .main-col,
    .article .side-content {
        width: 100%;
    }

    .article .side-content.quote {
        font-size: 23px;
        width: 60%;
        text-align: center;
        margin: 0 auto;
        float: none;
        padding: 25px 0 50px;
    }

    .side-content.slider-description {
        padding: 0 45px;
        text-align: center;
        margin-bottom: 25px;
    }

    .related-posts {
        padding-bottom: 30px;
    }

    .related-posts .content-box .post {
        width: 100%;
        overflow: hidden;
        padding-bottom: 0;
        margin-bottom: 25px;
    }

    .related-posts .post-thumb .shared-box {
        display: none !important;
    }

    .related-posts .post .post-description .heading {
        font-size: 18px;
        overflow: hidden;
    }

    .related-posts .content-box .post .excerpt,
    .related-posts .content-box .post .btn-rails {
        display: none !important;
    }

    .related-posts .post .post-thumb {
        width: 20%;
        float: left;
    }

    .related-posts .post-info {
        margin: 0 0 5px;
    }

    .post-info .border-bottom {
        border: none;
    }

    .photo-strip .shared-box {
        bottom: 0;
        right: 0;
        overflow: hidden;
    }

    .photo-strip .shared-list {
        padding: 0;
        margin: 0;
    }

    .photo-strip .shared-list-item {
        float: left;
        padding: 12px 10px;
        background: rgba(0, 0, 0, .8);
        width: 56px;
        height: 52px;
        overflow: hidden;
        line-height: 5;
        margin: 0 20px 0 0;
        text-align: center;
    }

    .photo-strip .shared-list-item .icon{
        font-size: 2rem;
        display: block;
        line-height: 1;

        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
}

@media screen and (max-width: 640px) {
    .search-wrap {
        max-width: none;
        width: calc(100% - 45px);
    }

    .detailed-article .side-col {
        float: none;
        padding-left: 4%;
        width: 100%;
    }

    .add-info-section {
        margin-bottom: 25px;
    }

    .detailed-article .main-col {
        padding-right: 30px;
        width: 100%;
    }

    .detailed-article .header-images.no-image {
        padding: 70px 0;
        font-size: 32px;
        margin-bottom: 50px;
    }

    .detailed-article .main-heading {
        font-size: 28px;
    }

    .detailed-article .sub-heading {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 0;
    }

    .article .content-section .container {
        padding: 0 20px;
    }

    .article .main-col p {
        font-size: 15px;
    }

    .article .post-info {
        margin: 1rem 0 35px;
        text-align: left;
    }

    .article .article-heading {
        font-size: 33px;
    }

    .search-wrap {
        margin: 0;
    }

    .get-updates .heading {
        font-size: 1.45rem;
        margin: 0 0 10px;
    }

    .slide-panel-footer .footer-section {
        float: none;
        padding: 0;
        width: 100%;
    }

    .slide-panel-footer .footer-section:nth-child(even),
    .slide-panel-footer .footer-section:nth-child(odd) {
        padding: 0;
    }

    .slide-panel {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .slide-panel-footer .footer-section {
        margin-bottom: 2.5rem;
    }

    .inspiration-filter-link {
        font-size: 12px;
    }

    .inspiration-filter-item {
        margin: 0 10px;
    }

    .grid-description .title {
        font-size: 10px;
    }

    .flower-page .filter-bar {
        padding: 4.688rem 15px 1.563rem 15px;
    }

    .custom-select {
        font: 1rem/3 "URWDINSemiCond-Demi";
    }

    .filter-result.list-view .list-header {
        display: none !important;
    }

    .toggler-option {
        margin: 0 8px;
    }

    .filter-result.list-view .d-cell {
        display: block;
        width: 100%;
        font-size: 16px;
    }

    .filter-result.list-view .cell-img {
        float: left;
        width: 25%;
    }

    .filter-result.list-view .cell-img img {
        width: 100%;
        height: auto;
    }

    .list-view .list-row {
        padding: 1rem 1.5rem 1rem 1.5rem;
    }

    .detailed-article .main-col {
        padding-right: 15px;
    }

    .detailed-article .header-images.no-image {
        padding: 45px 15px;
        font-size: 24px;
    }

    .detailed-article .main-heading {
        font-size: 22px;
    }

    .detailed-article .sub-heading {
        font-size: 16px;
    }

    .detailed-article .main-col .section {
        font-size: 14px;
    }

    .article .main-col {
        padding: 0;
    }

    .article .side-content.quote {
        font-size: 20px;
        width: 90%;
    }

    .side-content.slider-description {
        padding: 0;
    }

    .related-posts {
        padding-left: 30px;
        padding-right: 30px;
    }

    .post-info .border-bottom {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 340px) {
    .ads-block .text-wrap {
        width: 65%;
    }

    .main-nav-link {
        font-size: 1.75em;
    }

    .filter-result.list-view .d-cell {
        font-size: 14px;
    }

    .detailed-article .header-images.no-image {
        font-size: 19px;
        letter-spacing: 2px;
    }

    .detailed-article .main-heading {
        font-size: 18px;
        letter-spacing: 2px;
    }
}