/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font: 16px 'Felice-Light';
    color: #515151;
    line-height: 1.5;
    background: #fff;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea, header, nav, section, article, aside, footer, blockquote {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header, nav, section, article, aside, footer {
    display: block
}

select, input, textarea {
    font: 16px 'URWDINSemiCond-Demi';
    color: #515151;
    vertical-align: middle;
}

textarea {
    vertical-align: top;
    resize: none;
}

input[type=submit], button {
    cursor: pointer;
}

img, fieldset {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a, button,
input[type=submit],
.btn {
    -webkit-transition: .4s;
    transition: .4s;
}

a:hover {
    text-decoration: none;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.jumpToContent{
    position: absolute;
    display: block;
    width: 300px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    padding: 10px 15px;
    color: #333;
    border: 1px solid #333;

    text-align: center;
    text-decoration: none;

    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);

    background: #fff;
    z-index: -9999;
}

.jumpToContent:focus {
    z-index: 9999;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.pull-right {
    float: right !important;;
}

.img-fluid {
    display: block;
    width: 100%;
    height: auto;
}

.img-responsive {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.border-bottom {
    border-bottom: 1px solid #e3e3e3;
}

.d-table {
    display: table;
}

.d-cell {
    display: table-cell;
}

.d-iblock {
    display: inline-block;
}

.d-block {
    display: block;
}

.heading {
    font-family: 'Felice-Light';
    font-weight: normal;
    color: #171717;
}

.heading > a {
    position: relative;
    display: inline-block;
    color: inherit;
}

.heading a:hover,
.heading a:focus {
    color: #000;
}
.heading a:focus {
    outline: 1px solid #a3a3a3;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.btn-rails {
    position: relative;
    display: inline-block;

    font: 1rem 'URWDINSemiCond-Demi';
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #a3a3a3;

    vertical-align: bottom;
    padding: 1.1rem;
    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;

    -webkit-transition: .4s;
    transition: .4s;
}

.btn-rails:before,
.btn-rails:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;

    -webkit-transform: scaleX(0);
    transform: scaleX(0);

    -webkit-transition: .35s;
    transition: .35s;
}

.btn-rails:before {
    top: -1px;
    left: 0;
}

.btn-rails:after {
    right: 0;
    bottom: -1px;
}

.btn-rails:hover,
.btn-rails:focus {
    color: #000;
}

.btn-rails:hover:before,
.btn-rails:hover:after,
.btn-rails:focus:before,
.btn-rails:focus:after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.mob-only {
    display: none !important;
}

.label {
    font: 12px "URWDINSemiCond-Demi";
    text-transform: uppercase;
    letter-spacing: 1px;
}

.custom-select-label {
    display: block;
    padding-left: 10px;
}

.custom-select {
    position: relative;

    display: inline-block;
    width: 126px;
    height: 37px;

    text-overflow: ellipsis;

    margin-left: 10px;
    padding-right: 12px !important;
    -webkit-padding-end: 12px !important;

    background: url("../img/down-chevron.png") no-repeat right 0 bottom 5px;
    -webkit-background-size: 15px 15px;
    background-size: 15px 15px;

    text-transform: uppercase;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select::-ms-expand {
    display: none;
}

/*Detecting IE +10 fix arrow position for custom select*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .custom-select {
        background-position: right 0 bottom 10px !important;
    }
}

.custom-select,
.selectric .label {
    border: none;
    font: 1.25rem/2 "URWDINSemiCond-Demi";
    letter-spacing: 2px;
    padding: 5px 0;
}

.selectric .button:after {
    border: none;
}

.selectric .button:before {
    content: '';

    position: absolute;
    bottom: 25%;
    left: 5px;

    display: block;
    width: 15px;
    height: 9px;

    background: url("../img/down-chevron.png") center no-repeat;

    -webkit-background-size: 100%;
    background-size: 100%;
}

.selectric,
.selectric .button {
    border: none;
    background: none;
}

.selectric-wrapper {
    display: inline-block;
    min-width: 150px;
}

.selectric-items {
    border: none;
    background: #fff;
}

.selectric-items li {
    font: 1.25rem/2 "URWDINSemiCond-Demi";
    padding: 5px 10px;
}

.selectric-items li.selected {
    background: #f8f8f8;
}

/*----------------------------------------WRAP--------------------------------------*/

.wrap {
    padding: 94px 0 75px;
    overflow: hidden;
    min-width: 300px;
}

.container {
    max-width: 1550px;
    width: 100%;
    margin: 0 auto;
}

/*-------------------------------------HEADER---------------------------------------*/

.main-header {
    display: block;
    height: 94px;
    background: rgba(255, 255, 255, .9);
    padding: 35px 7.75rem 35px 6.875rem;
    border-bottom: 1px solid #c4c4c4;
}

.main-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 5000;
}

.main-header .navbar {
    width: 100%;
}

.main-header .wide-cell {
    width: 50%;
}

.main-header .d-cell {
    vertical-align: middle;
}

.header-nav {
    text-align: center;
}

.header-nav.left {
    padding-right: 130px;
    padding-left: 7%;
}

.header-nav.right {
    padding-left: 140px;
    padding-right: 7%;
}

.header-nav-item {
    display: inline-block;
    margin: 0 27px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.header-nav-link {
    font: 16px 'URWDINSemiCond-Demi';
    color: #a3a3a3;

    -webkit-transition: color .35s;
    transition: color .35s;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: #000;
}

.burger-btn,
.search-btn,
.close-btn {
    border: none;
    background: none;
    outline: none;
}

.close-btn:focus {
    outline: 1px dotted #b3b3b3;
}

.burger-btn {
    position: relative;

    width: 26px;
    height: 20px;

    border-bottom: 2px solid #a3a3a3;
    border-top: 2px solid #a3a3a3;
}

.burger-btn:before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 100%;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    border-bottom: 2px solid #a3a3a3;
    -webkit-transition: .4s;
    transition: .4s;
}

.burger-btn:hover,
.burger-btn:focus,
.burger-btn:hover:before,
.burger-btn:focus:before {
    border-color: #000000;
}

.search-btn .icon-search {
    font-size: 1.5rem;
    color: #a3a3a3;

    -webkit-transition: .35s;
    transition: .35s;
}

.search-btn:hover .icon-search,
.search-btn:focus .icon-search {
    color: #000;
}

/*-------------------------------------SEARCH BAR---------------------------------------*/

.main-header .search-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 94px;
    background: rgba(255, 255, 255, .95);
    padding: 1rem 0;

    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);

    -webkit-transition: .45s;
    transition: .45s;

    z-index: 6000;
}

.main-header .search-bar.active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.search-wrap {
    position: relative;
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
    padding-left: 50px;
}

.search-wrap .icon-search {
    position: absolute;
    left: 5px;
    top: 50%;

    font-size: 1.5rem;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.search-bar .close-btn {
    position: absolute;
    top: 50%;
    right: 5%;

    font-size: 1.25rem;
    color: #000;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.search-bar .close-btn:focus {
    outline: 1px solid #a3a3a3;
}

.search-wrap .search-submit,
.search-wrap .input-style {
    height: 54px;

    border: none;
    background-color: transparent;
}

.search-wrap .input-style {
    display: block;
    width: 100%;
}

.search-wrap .input-style + .border:before,
.search-wrap .input-style + .border:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;

    position: absolute;
    bottom: 0;
    left: 0;
}

.search-wrap .input-style + .border:after {
    background: #cfcfcf;
    z-index: 1;
}

.search-wrap .input-style + .border:before {
    background: #000;

    -webkit-transition: transform .35s;
    transition: transform .35s ;

    -webkit-transform: scaleX(0);
    transform: scaleX(0);

    z-index: 5;
}

.search-wrap .input-style:focus + .border:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.search-wrap .search-submit {
    position: absolute;
    top: 0;
    right: 0;

    font: 1rem 'URWDINSemiCond-Demi';
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #515151;

    -webkit-transition: color .35s;
    transition: color .35s;
}

.search-wrap .search-submit:hover,
.search-wrap .search-submit:focus {
    color: #000;
}

.search-wrap .search-submit:focus {
    outline: 1px dotted #a3a3a3;
}

.search-wrap .search-submit .icon:before {
    -webkit-transition: .35s;
    transition: .35s;
}

.search-wrap .search-submit:hover .icon:before,
.search-wrap .search-submit:focus .icon:before {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}

.search-wrap .search-submit .text {
    vertical-align: middle;
}

.search-wrap .icon-right {
    font-size: 1.5em;
    vertical-align: middle;
}

.search-wrap .input-style::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 1;
}

.search-wrap .input-style::-moz-placeholder { /* Firefox 19+ */
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 1;
}

.search-wrap .input-style:-ms-input-placeholder { /* IE 10+ */
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 1;
}

.search-wrap .input-style:-moz-placeholder { /* Firefox 18- */
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 1;
}

.logo {
    height: 18px;
    width: 253px;
    overflow: hidden;
}

.logo > img{
    display: block;
    width: 100%;
    height: auto;
}

a.logo:focus,
.logo a:focus {
    outline: 1px dotted #a3a3a3;
}

.main-header .logo {
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.main-header .logo > img {
    width: 100%;
    height: auto;
}

.close-btn.lg {
    font-size: 1.5rem;
}

.social-list-link:hover,
.social-list-link:focus{
    color: #000;
}
/*-------------------------------------SLIDE PANEL---------------------------------------*/

.slide-panel {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    min-height: 100%;
    max-height: 100%;
    max-width: 560px;
    width: 100%;
    padding: 4.4rem 5rem 0 6rem;

    overflow: auto;
    background: rgba(255, 255, 255, .9);

    -webkit-transition: transform .4s;
    transition: transform .4s;

    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    z-index: 555;
}

.slide-panel.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.slide-panel .main-nav,
.slide-panel .slide-panel-footer,
.slide-panel .close-btn{
    display: none;
}

.slide-panel.active .main-nav,
.slide-panel.active .slide-panel-footer ,
.slide-panel.active .close-btn{
    display: block;
}

.main-header .search-bar .search-wrap {
    display: none;
}

.main-header .search-bar.active .search-wrap {
    display: block;
}

.slide-panel .close-btn {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
}

.main-nav-list {
    padding-bottom: 1.4rem;
    margin-bottom: 3.125rem;
    border-bottom: 1px solid #a3a3a3;
}

.main-nav-item {
    margin-bottom: 1.85rem;
}

.main-nav-link {
    position: relative;
    display: inline-block;
    font: 2.25rem 'Felice-Light';
}

.main-nav-link:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;

    background: #515151;

    -webkit-transition: .35s;
    transition: .35s ;
}

.sub-menu-link{
    position: relative;
}

.sub-menu-link:before {
    position: absolute;
    left: 0;
    top: -2px;

    display: inline-block;
    content: '•';
    opacity: 0;

    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

.sub-menu-link:focus:before,
.sub-menu-link:hover:before {
    opacity: 1;
}

.main-nav-link:focus,
.main-nav-link:hover,
.sub-menu-link:focus,
.sub-menu-link:hover {
    color: #000;
}

.main-nav-link:hover:before,
.main-nav-link:focus:before {
    width: 100%;
}

.main-nav .sub-menu {
    padding: .85rem 1.563rem 0;
}

.main-nav .sub-menu-item {
    margin-bottom: .7rem;
}

.main-nav .sub-menu-item:last-child {
    margin-bottom: 0;
}

.main-nav .sub-menu-link {
    font: 1.375rem 'Felice-Light';
}

.slide-panel-footer {
    overflow: hidden;
}

.slide-panel-footer .footer-section:nth-child(odd) {
    padding-right: 1.5rem;
}

.slide-panel-footer .footer-section:nth-child(even) {
    padding-left: 1.5rem;
}

.slide-panel-footer .footer-section {
    width: 50%;
    float: left;
    margin-bottom: 3.125rem;
    font: 14px 'Felice-Light';
}

.slide-panel-footer .heading {
    font: 1.25rem 'URWDINCond-Demi';
    letter-spacing: 5px;
    line-height: 1.7;
}

.social-list {
    display: table;
    padding-top: 6px;
}

.social-list-item {
    display: table-cell;
    padding-right: 1rem;
}

.social-list .icon {
    font-size: 2em;
}

/*-------------------------------------CONTENT--------------------------------------*/
.content-box {
    padding: 7.3rem 0 7.9rem;
    overflow: hidden;
}

/*------------------------------------- POSTS --------------------------------------*/
.shared-box {
    position: absolute;
    left: 0;
    bottom: 10px;

    z-index: 100;
}

.shared-list-item {
    display: inline-block;
    margin: 0 18px 0 15px;
}

.shared-link {
    text-transform: uppercase;
    color: rgba(255, 255, 255, .9);
    font: 1rem 'URWDINCond-Demi';
    letter-spacing: 1px;
}

.shared-link .icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.default-posts-box {
    margin: 0 -4.5%;
}

.post {
    float: left;
    width: 33.33%;
    padding: 0 4.5%;
}

.post .heading {
    font: 400 1.875rem 'Felice-Light';
    margin-bottom: 1.3rem;
}

.post-description {
    overflow: hidden;
}

.post .excerpt {
    margin-bottom: 3rem;
}

.post .post-thumb {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 1.3rem;
}

.post-thumb .shared-box {
    opacity: 0;

    -webkit-transition: .35s;
    transition: .35s;
}

.post-thumb:hover .shared-box {
    opacity: 1;
}

.post-thumb-left .post-thumb {
    float: left;
}

.post-thumb-right .post-thumb {
    float: right;
}

.post-info {
    width: 100%;
    font: 12px 'URWDINSemiCond-Demi';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #a3a3a3;

    margin-bottom: .5rem;
    overflow: hidden;
}

.post-info .border-bottom {
    padding-bottom: 10px;
    border-color: #a3a3a3;
}

.post-info .days:after {
    content: '•';
    display: inline-block;
    margin: 0 15px;
    font-size: 6px;
    vertical-align: middle;
}

.lg-posts-box {
    margin: 0 -2.525%;
}

.post-lg {
    padding: 0 2.525%;
    width: 50%;
}

.post-lg .post-thumb {
    margin-bottom: 3.25rem;
}

.post-lg.horizontal {
    width: 100%;
}

.post-lg.horizontal .post-thumb {
    width: 41%;
    margin: 0;
}

.post-lg.horizontal .post-description {
    padding: 0 5.8% 0 8.1%;
}

.post-lg .heading {
    font-size: 3.75rem;
    line-height: 1.4;
    letter-spacing: 0.5px;
    margin-bottom: 0.8rem;
}

.post-lg .excerpt {
    font-size: 1.25rem;
}

.post-lg .excerpt p {
    margin: 0 0 2.8125rem;
}

.post-lg .excerpt p:last-child {
    margin-bottom: 0;
}

.post-lg .excerpt {
    margin-bottom: 3.5rem;
}

.post-lg.extra {
    width: 59%;
}

.post-lg.extra.pull-left {
    padding-right: 7.5%;
    padding-left: 0;
}

.extra.pull-left + .sm-posts-wrap .post-sm:nth-child(even) {
    padding-left: 7.5%;
    padding-right: 0;
}

.extra.pull-left + .sm-posts-wrap .post-sm:nth-child(odd) {
    padding-right: 7.5%;
    padding-left: 0;
}

.post-lg.extra.pull-right {
    padding-right: 0;
    padding-left: 7.5%;
}

.extra.pull-right + .sm-posts-wrap .post-sm:nth-child(odd) {
    padding-left: 0;
    padding-right: 7.5%;
}

.extra.pull-right + .sm-posts-wrap .post-sm:nth-child(even) {
    padding-right: 0;
    padding-left: 7.5%;
}

.sm-posts-wrap .post-sm:nth-child(3n) {
    clear: both;
}

.mixed-posts-box .post-sm {
    width: 50%;
}

.sm-posts-wrap {
    overflow: hidden;
}

.post.post-sm .heading {
    font-size: 1.375rem;
}

.post.post-sm {
    font-size: 1rem;
}

/*------------------------------------ PHOTO STRIP----------------------------------*/

.photo-strip {
    position: relative;
    height: 530px;
}

.photo-strip .swiper-slide {
    width: auto;
}

.photo-strip img {
    display: block;
    height: 100%;
    width: auto;
}

.photo-strip-btn {
    position: absolute;
    top: 50%;

    display: block;
    width: 0;
    height: 0;
    margin-top: -24px;

    border-style: solid;
    opacity: .68;

    -webkit-transition: .35s;
    transition: .35s;

    z-index: 500;
}

.photo-strip-btn:hover,
.photo-strip-btn:focus {
    opacity: 1;
    cursor: pointer;
}

.photo-strip .strip-text-wrap{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    font: 16px 'Felice-Light';

    color: #171717;
    z-index: 1000;
}

.photo-strip .strip-text {
    padding: 15px 29px 12px 20px;
    background: rgba(255,255,255, .65);
    display: inline-block;
}

.next-btn {
    right: 45px;
    border-width: 24px 0 24px 24px;
    border-color: transparent transparent transparent #fff;
}

.prev-btn {
    left: 45px;
    border-width: 24px 24px 24px 0;
    border-color: transparent #fff transparent transparent;
}

/*-------------------------------------GET UPDATES-----------------------------------*/
.get-updates {
    font: 14px 'Felice-Light';
    padding: 2.25rem 0 2.75rem;
}

.get-updates .box {
    max-width: 704px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    overflow: hidden;
}

.get-updates .d-cell {
    vertical-align: middle;
}

.get-updates .description {
    padding-right: 30px;
}

.get-updates .btn-section {
    padding-left: 30px;
}

.get-updates .heading {
    font-size: 1.75rem;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.get-updates .btn-rails {
    min-width: 150px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 8px;
}

/*-------------------------------------ADS BLOCK---------------------------------------*/

.ads-block {
    min-height: 530px;
    font-size: 1.5rem;

    padding: 4.7rem 0 5.31rem;
    background-position: center;

    -webkit-background-size: cover;
    background-size: cover;
}

.ads-block .container {
    overflow: hidden;
}

.ads-block .text-wrap {
    width: 50%;
}

.ads-block .text-wrap {
    padding-left: 3.4%;
}

.ads-block .sponsored-label {
    color: inherit;
}

.ads-block .heading {
    font-size: 5rem;
    padding-top: 2%;
    line-height: 1.1;
    color: inherit;
    margin-bottom: 1rem;
}

.ads-block .text-wrap p {
    margin-bottom: 3.375rem;
}

/*-------------------------------------Flower page---------------------------------------*/

.flower-page .filter-bar {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding: 4.688rem 7.5rem 1.563rem 6.875rem;
}

.filter-bar-col {
    display: table-cell;
    width: 50%;
    vertical-align: bottom;
}

.view-toggler {
    display: inline-block;
}

.toggler-options-list {
    overflow: hidden;
}

.toggler-option {
    float: left;
    margin: 0 10px;
    color: #b1b1b1;

    -webkit-transition: .35s;
    transition: .35s;
}

.toggler-option.active {
    color: #171717;
}

.toggler-link {
    position: relative;
    display: inline-block;
    font: 1rem 'URWDINCond-Demi';
    text-transform: uppercase;
}

.toggler-link:hover,
.toggler-link:focus {
    color:#000;
}

.toggler-link:focus {
    outline: 1px dotted #a3a3a3;
}

.list-header {
    display: none;
}

.filter-result.list-view .list-header {
    font: 14px "URWDINSemiCond-Demi";
    text-transform: uppercase;
    letter-spacing: 2px;

    background: #f0f0f0;

    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
}

.list-view .list-row {
    display: table;
    width: 100%;
    padding: 1rem 7.5rem 1rem 6.875rem;
    font-size: 1.5rem;

    border-bottom: 1px solid #c4c4c4;
}

.filter-result .post-item {
    -webkit-transition: .35s;
    transition: .35s;
}

.filter-result.list-view .d-cell {
    display: table-cell;
    vertical-align: middle;
    padding-right: 15px;
}

.list-view .cell-img {
    width: 11%;
}

.list-view .cell-img img {
    width: 52px;
    height: auto;
}

.list-view .cell-cname {
    width: 17.5%;
}

.list-view .cell-bname {
    width: 19.5%;
}

.list-view .grid-description {
    display: none;
}

.list-view a:hover,
.list-view a:focus {
    background: #f3f3f3;
    color: #000;
}

.grid-view .d-cell {
    display: none;
}

.grid-view .cell-img {
    display: block;
}

.grid-view {
    overflow: hidden;
    text-align: center;
    padding: 0 12px;
}

.grid-view .post-item {
    position: relative;
    display: inline-block;
    width: 20%;
    padding: 12px;
    margin: 0 -2px;

    -webkit-transition: .6s;
    transition: .6s;
}

.grid-view .grid-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;
    background: rgba(255, 255, 255, .9);

    opacity: 0;

    -webkit-transform: scale(.6);
    transform: scale(.6);

    -webkit-transition: .35s;
    transition: .35s;

    z-index: 6;
}

.grid-view .post-item:hover .grid-description,
.grid-view .post-item:focus .grid-description{
    opacity: 1;

    -webkit-transform: scale(1);
    transform: scale(1);
}

.grid-view .grid-description .text-wrap {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    font: italic 1rem 'ACaslonPro';
    padding: 2rem;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.grid-description .title {
    font: 1.19rem 'ACaslonPro';
    text-transform: uppercase;
}

.grid-view .post-item img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

/*-------------------------INSPIRATION PAGE---------------------*/
.inspiration-page .content-box {
    padding-top: 5.5rem;
}

.inspiration-filter {
    padding: 35px 1rem 18px;
    text-align: center;
}

.inspiration-filter-list {
    display: inline-block;
}

.inspiration-filter-item {
    float: left;
    margin: 0 15px;
}

.inspiration-filter-link {
    position: relative;
    font: 1.25rem 'Felice-Light';
    padding-bottom: 3px;
    color: #9e9e9e;
}

.inspiration-filter-link:hover,
.inspiration-filter-link:focus,
.active .inspiration-filter-link {
    color: #000;
}

.inspiration-filter-link:focus{
    outline: 1px dotted #a3a3a3;
}

.active .inspiration-filter-link:after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;

    display: block;
    width: 100%;
    height: 2px;

    background: #000;
}

/*-------------SINGLE PAGE // ARTICLE ------------*/

.article {
    padding-bottom: 2.5rem;
    overflow: hidden;
    border-bottom: 1px solid #a3a3a3;
}

.article .photo-strip {
    height: 590px;
    margin-bottom: 7rem;
}

.article .video-block {
    position: relative;

    height: 590px;
    text-align: center;

    margin-bottom: 7.813rem;
    overflow: hidden;
}

.article .video-wrap {
    position: relative;
    display: inline-block;
    z-index: 5;
}

.video-backdrop {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 50%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;

    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);

    opacity: 0.4;
}

.play-btn {
    display: none !important;
    position:  absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: 190px;
    height: 190px;
    background: rgba(0,0,0, .37);

    border-radius: 50%;
    border: 2px solid #fff;

    outline: none;

    opacity: .75;

    -webkit-transition: .35s;
    transition: .35s;

    z-index: 9;
}

.play-btn:hover,
.play-btn:focus {
    opacity: 1;
}

.play-btn .triangle {
    display: inline-block;
    vertical-align: middle;

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 15px 0 15px 26px;
    border-color: transparent transparent transparent #fff;

    -webkit-transform: translateX(6px);
    transform: translateX(6px);
}

.play-btn.show {
    display: block !important;
}

.video-backdrop.left {
    left: 0;
}

.video-backdrop.right {
    right: 0;
}

.article .video-wrap .video {
    display: block;
    width: auto;
    height: 590px;
}

.article .content-section .container {
    padding-right: 12.5%;
    padding-left: 1.5%;
    overflow: hidden;
}

.article .content-section.no-header-img {
    padding-top: 5rem;
}

.article .post-info {
    margin: 1rem 0 0;
}

.article .side-content {
    width: 30.25%;
    float: left;
    text-align: right;
}

.article .side-content.quote {
    font: 2rem 'ACaslonPro';
    font-style: italic;
    padding-top: 1rem;
}

.article .main-col + .side-content {
    clear: both;
}

.article .main-col {
    font: 1.25rem 'Felice-Light';
    width: 69.75%;
    float: right;
    padding: 0 2rem 0 5.9rem;
}

.article .article-heading {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 12px;
    letter-spacing: -1px;
}

.article .main-col p {
    margin-bottom: 2.25rem;
    line-height: 1.55;
}

.article .main-col strong {
    font-family: 'ACaslonPro';
    font-weight: 600;
}

.article .main-col p:last-child {
    margin-bottom: 0;
}

.article .photos-wrap {
    position: relative;
    padding: 5.8rem 0 3.5rem;
    overflow: hidden;
    clear: both;
}

.article .photos-wrap img {
    display: block;
    width: 100%;
    height: auto;
}

.photos-wrap .pagination-wrap {
    display: block;
    padding-top: 5px;
    overflow: hidden;
    text-align: right;
}

.article .photos-wrap .swiper-pagination {
    position: relative;
    width: auto;
    display: inline-block;
}

.swiper-pagination-bullet {
    background: #d6d6d6;
    opacity: 1;
    margin-left: 17px;
    margin-top: 9px;

    width: 11px;
    height: 11px;
}

.photos-wrap .swiper-pagination-bullet-active {
    background: #515151;
}

.photos-wrap .slide-counter {
    font: 1rem 'URWDINSemiCond-Demi';
    color: #515151;

    margin-left: 20px;
}

.side-content.slider-description {
    font: 1rem 'Felice-Light';
    color: #a9a9a9;
    padding: 0 0 0 1.5rem;
    line-height: 1.5;
}

.article .share-box {
    padding: 3rem 0 1.5rem;
}

.article .share-box a {
    color: #b9b9b9;
}

.article .share-box a:hover,
.article .share-box a:focus {
    color: #515151;
}

.article .share-box .label {
    font: 1rem 'URWDINSemiCond-Demi';
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 3px;

    padding-right: 35px;
}

.article .share-box .social-list-item {
    padding-right: 22px;
}

.article .share-box .label,
.article .share-box .social-block {
    display: inline-block;
    vertical-align: middle;
}

.article .share-box .icon {
    font-size: 1.5rem;
}

.article .get-updates {
    padding-top: 2.5rem;
}

.article .get-updates .box {
    padding: 0;
    margin-left: 0;
}

.article .get-updates .heading {
    margin-bottom: 7px;
}

.article .get-updates .btn-rails {
    min-width: 190px;
}

.related-posts .block-heading {
    text-align: center;
    padding: 4.5rem 0 0 15px;
    font-size: 2.2rem;

    margin-bottom: -4rem;
}

    /*------------------DETAIL PAGE---------------------*/


.detailes-block-wrap .toggle-btn,
.varieties-block-wrap .toggle-btn {
    display: none;
    margin-bottom: 3rem;
}

.detailes-block-wrap.hidden .toggle-btn,
.varieties-block-wrap.hidden  .toggle-btn {
    display: inline-block !important;
}

.detailes-block-wrap.hidden #articleDetails,
.varieties-block-wrap.hidden .varieties-block{
    display: none;
}

.detailed-article a {
    -webkit-transition: .35s;
    transition: .35s;
}

.detailed-article a:hover,
.detailed-article a:focus {
    text-decoration: underline;
    color: #000;
}

.detailed-article .btn-rails:hover,
.detailed-article .btn-rails:focus {
    text-decoration: none;
}

.detailed-article .header-images {
    -webkit-box-shadow: 0 0 15px -1px #a49b9b;
    -moz-box-shadow: 0 0 15px -1px #a49b9b;
    box-shadow: 0 0 15px -1px #a49b9b;

    margin-bottom: 7.4rem;

    max-height: 585px;
}

.detailed-article .header-images.no-image {
    font: 6.85rem 'Felice-Light';
    letter-spacing: 1rem;
    text-transform: uppercase;

    padding: 4rem 3rem;
    text-align: center;
    background: #e8e8e8;
    color: #a3a3a3;
}

.detailed-article .header-images.no-image img {
    display: none !important;
}

.detailed-article .header-images img {
    display: block;
    width: 100%;
    height: auto;
}

.detailed-article .main-heading {
    font: 3.85rem 'Felice-Light';
    letter-spacing: 11px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.detailed-article .sub-heading {
    font: italic 2.5rem 'ACaslonPro';
    line-height: 1.1;
}

.detailed-article .article-header {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5.9rem
}

.detailed-article .container {
    overflow: hidden;
}

.detailed-article .main-col {
    width: 65.19%;
    float: left;
    padding: 0 11.3% 0 10%;
}

.detailed-article .side-col {
    width: 34.6%;
    float: right;
    padding-right: 3%;
    padding-top: 10px;
}

.detailed-article .main-col .section {
    font-size: 1.25rem;
    margin-bottom: 1.85rem;
}

.detailed-article .main-col .section-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.detailed-article ul {
    padding-top: 10px;
}

.detailed-article ul > li {
    position: relative;
    padding: 0 0 0 20px;
    margin-bottom: .65rem;
}

.detailed-article ul > li:before {
    content: '•';
    position: absolute;
    top: 0;
    left: 0;
}

.detailed-article .images-section .images-wrap {
    overflow: hidden;
    margin: 0 -11px;
}

.detailed-article .images-section .image-item {
    float: left;
    width: 33%;
    padding: 12px 11px;

    -webkit-transition: opacity .35s;
    transition: opacity .35s;
}

.detailed-article .images-section .image-item:hover,
.detailed-article .images-section .image-item:focus {
    opacity: .8;
}

.detailed-article .article-footer {
    font-size: 13px;
    margin-bottom: 5rem;
    color: #a3a3a3;
}

.detailed-article .btn-rails {
    padding-left: 0;
    padding-right: 0;
    letter-spacing: .19rem;
}

.article-footer ul > li {
    padding-left: 0;
    margin: 0;
}

.article-footer ul > li:before {
    display: none;
}

.article-footer ul {
    margin-bottom: 1.25rem;
    font-size: 13px;
}

.varieties-block {
    text-align: center;
    padding-top: 6.375rem;
}

.varieties-section {
    margin-bottom: 7.313rem;
}

.varieties-block .heading {
    font-size: 2.625rem;
    margin-bottom: 2.2rem;
}

.varieties-block .grid-view .post-item {
    width: 21.3%;
}

.add-info-section {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.add-info-section .heading {
    font: 12px 'URWDINSemiCond-Demi';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #a3a3a3;

    margin-bottom: 5px;
}

.add-info-section.map-section {
    margin-bottom: 1.7rem;
}

.colors-list {
    overflow: hidden;
}

.colors-list .color-item {
    float: left;
    margin-right: 8px;
    padding: 0;
}

.colors-list .color-item:before {
    display: none;
}

.colors-list .color-item.border .color {
    border: 2px solid #e3e3e3;
}

.colors-list .color {
    display: block;
    width: 44px;
    height: 44px;
}

/*----------------------------------------POPUP----------------------------------------*/

.tos-slider {
    height: auto;
}

.tos-desktop .tos-wrapper.tos-fixed.tos-fit.tos-has-close .tos-slide,
.tos-desktop .tos-wrapper.tos-fixed.tos-fit.tos-has-next .tos-slide,
.tos-desktop .tos-wrapper.tos-fixed.tos-fit.tos-has-prev .tos-slide,
.tos-wrapper.tos-fixed.tos-fit.tos-has-close .tos-slide,
.tos-wrapper.tos-fixed.tos-fit.tos-has-next .tos-slide,
.tos-wrapper.tos-fixed.tos-fit.tos-has-prev .tos-slide {
    padding: 3.625rem 12.8rem 2.5rem 10.8rem;
    height: auto;
}

.tos-slide > img {
    width: 100%;
    vertical-align: top;
    max-height: none;
}

.tos-close, .tos-next, .tos-prev {
    opacity: 1;
}

.tos-desktop .tos-wrapper.tos-fixed,
.tos-wrapper.tos-fixed{
    background-color: rgba(255, 255, 255, 0.9);
    overflow-y: auto;
    bottom: 0;
}

.tos-caption {
    position: relative;
    padding: 0 2.8rem 2.8rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    opacity: 1;
    color: #515151;
    overflow: hidden;
}

.tos-wrapper .tos-caption {
    height: auto;
}

.tos-caption > div {
    font-size: 1.125rem;
    line-height: 1.5;

    text-shadow: none;
    white-space: normal;
    text-overflow: initial;
}

.tos-close,
.tos-next,
.tos-prev {
    background-color: transparent;

    font: 1rem 'URWDINSemiCond-Demi';
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #515151;

    height: auto;
    width: auto;
}

.tos-next, .tos-prev {
    position: relative;
    top: 3.2rem;
}

.tos-next {
    float: right;
    right: 7.65%;
}

.tos-prev {
    float: left;
    left: 6%;
}

.tos-close span,
.tos-next span,
.tos-prev span {
    display: none;
}

.tos-prev:after {
    content: 'Previous';
    text-transform: uppercase;
    vertical-align: middle;
}

.tos-next:before {
    content: 'Next';
    text-transform: uppercase;
    vertical-align: middle;
}

.tos-prev:before {
    margin-right: 25px;
    background: url("../img/popup/left-chevron.png") no-repeat center;
}

.tos-next:after {
    margin-left: 33px;
    background: url("../img/popup/right-chevron.png") no-repeat center;
}

.tos-prev:before,
.tos-next:after {
    display: inline-block;
    content: '';
    width: 23px;
    height: 29px;

    vertical-align: middle;

    -webkit-background-size: 100%;
    background-size: 100%;
}

.tos-close {
    top: 3rem;
    right: 3rem;
    height: 35px;
    width: 35px;

    background: url(../img/close.svg) no-repeat center;
    -webkit-background-size: 100%;
    background-size: 100%;
}
